<!DOCTYPE html>
<html lang="en">
	<%- include('head.ejs'); %>
	<body>
		<header style="background-image: url('images/cours/cours.png')">
			<%- include('../molecules/header-top.ejs', {current_item: 1}); %>

			<div class="header-main">
				<h1 class="title">COURS SUR LES METIERS DU WEB</h1>
           	</div>
		</header>

		<main class="main cours">
            <div class="cours__left">
                <div class="cours__left--item">
                    <h1 class="cours__left--titre">
                        OBJECTIF DE LA FORMATION:
                    </h1>
                    <p class="cours__left--desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="cours__left--item">
                    <h3 class="cours__left--subtitle">
                        Introduction
                    </h3>
                    <p class="cours__left--text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="cours__left--item">
                    <h3 class="cours__left--subtitle">
                        Chapitre 1 : Lorem ipsum dolor
                    </h3>
                    <p class="cours__left--text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="cours__left--section">
                    <h3 class="cours__left--numero">
                        1. Lorem ipsum dolor
                    </h3>
                    <p class="cours__left--text-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="cours__left--notes">
                    <div class="notes--icon">
                        <img src="images/cours/idea.png" alt="">
                    </div>
                    <span class="notes--name">
                        Saviez vous que ?
                    </span>
                    <p class="notes--text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       
                    </p>
                </div>
                <div class="cours__left--section-1">
                    <h3 class="cours__left--numero">
                        2. Lorem ipsum dolor
                    </h3>
                    <p class="cours__left--text-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="cours__right">
                <%- include('../molecules/cours-rigtht-section.ejs'); %>
            </div>
        </main>

        <div class="pagination">
            <%- include('../molecules/pagination.ejs'); %>
        </div>


		<%- include('../molecules/footer.ejs'); %>
	</body>
</html>
