<!DOCTYPE html>
<html lang="en">
	<%- include('head.ejs'); %>
	<body>
        <!-- For Data -->
        <% const product = {
            imageUrl: 'images/categories/Intersect-2.png',
            imageAlt: 'Intersect-1',
            title: 'Gestion et management de projet',
            text: 'Une bonne gestion de projet qui mettra sur pied votre entreprise ou votre société. Élaborez des techniques à partir d‘une méthodologie efficaces et performants… Gérez, planifiez, concrétisez vos projets. Ce cours vous guidera à réaliser vos projets en toute sérénité.',
            imageUrl1: 'images/categories/skill-1.png',
            imageAlt1: 'Intersect-1',
            title1: 'Quelle tenue mettre durant un entretien d’embauche ?',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
            imageUrl2: 'images/categories/Intersect-1.png',
            imageAlt2: 'Intersect-1',
            title2: 'Créer la Lettre de Motivation appropriée à votre candidature',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'
        }; %>


		<header style="background-image: url('images/categories/wallpapersden3.jpg')">
			<%- include('../molecules/header-top.ejs', {current_item: -1}); %>

			<div class="main header-main">
           		<p class="title">Les thematiques</p>
           	</div>
		</header>
	
            <div class="container__skill">
                <% const bar = {
                    imageUrl: 'images/categories/cercle-3.png',
                    imageAlt: 'cercle-1.png',
                    }; %>
                   
                <%- include('../molecules/skillbar.ejs', { imageUrl: bar.imageUrl, imageAlt: bar.imageAlt }) %>
            </div>
        <main class="container">
			<div class="container__intro">
                <% const cardtext = {
                    title: 'Gestion Project',
                    text: "Devenez un gestionnaire d'entreprise accompli en planifiant, organisant et supervisant chaque étape de vos projets, de la conception à la réalisation. En tant que chef d'orchestre de l'entreprise, vous serez responsable de la coordination des équipes, de la gestion des ressources et du respect des délais. Avec une formation adéquate et une expérience pratique, vous pourrez devenir un expert en gestion de projet et atteindre de nouveaux sommets dans votre carrière d'entreprise."
                }; %>
        
                <%- include('../molecules/cardtext.ejs', {text: cardtext.text, title: cardtext.title}); %>
            </div>
            <ul class="container__item">
                <li class="container__list">
                    <%- include('../molecules/item.ejs', { imageUrl: product.imageUrl, imageAlt: product.imageAlt, title: product.title, text: product.text }) %>
                </li>
                <li class="container__list">
                    <%- include('../molecules/item.ejs', { imageUrl: product.imageUrl1, imageAlt: product.imageAlt1, title: product.title1, text: product.text }) %>
                </li>
                <li class="container__list">
                    <%- include('../molecules/item.ejs', { imageUrl: product.imageUrl, imageAlt: product.imageAlt, title: product.title2, text: product.text }) %>
                </li>
            </ul>
            <div class="container__pagination">
                <%- include('../molecules/pagination.ejs'); %>
            </div>
		</main>

		<%- include('../molecules/footer.ejs'); %>
	</body>
</html>
