<div class="border-card">
    <div class="card">
        <div class="card-icon">
            <img src="<%= imageUrl %>" alt="<%= imageAlt %>" />
        </div>
        <div class="card-content">
            <div class="card-content__text">
                <h3 class="text-title">
                    <%= title %> <span>
                            <%= title1 %>
                        </span>
                </h3>
                <p class="text-content">
                    <%= text %>
                </p>
            </div>
            <a href="/embauche"><button class="btn-green">En savoir plus</button></a>
        </div>
    </div>
</div>
